alias dockerps="docker ps -q | xargs docker inspect -f '{{.State.Pid}} {{.Name}} {{.Config.Image}} {{.GraphDriver.Data.MergedDir}}'"

alias dockerpsa="docker ps -qa | xargs docker inspect -f '{{.State.Pid}} {{.Name}} {{.Config.Image}} {{.GraphDriver.Data.MergedDir}}'"

alias dockerpid="docker inspect -f '{{.State.Pid}}'"

alias dockergeek="docker run --rm -it --hostname=geek \
                  --cap-add=SYS_PTRACE --cap-add=SYS_ADMIN --cap-add=NET_ADMIN \
                  --pid=host --network=host --ipc=host --userns=host \
                  -v /var/lib/docker:/var/lib/docker:ro -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker:ro \
                  osexp2000/ubuntu-with-utils"

alias dockerGEEK="docker run --rm -it --hostname=GEEK \
                  --privileged \
                  --pid=host --network=host --ipc=host --userns=host \
                  -v /var/lib/docker:/var/lib/docker:ro -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker:ro \
                  osexp2000/ubuntu-with-utils"

alias dockertrace="docker run --rm -it --hostname=trace \
                  -v /sys/kernel/debug:/sys/kernel/debug \
                  osexp2000/linux-tracers"

alias dockerhost="docker run --rm -it \
                  --privileged \
                  --pid=host --network=host --ipc=host --userns=host --uts=host \
                  ubuntu \
                  nsenter --target=1 --mount"
